@import "tailwindcss";

:root {

  /* Heritage Theme */

  --background: #F8F4E6;
  --surface: #FFF9F0;

  --primary: #591010;
  --primary-dark: #370909;

  --gold: #af9234;

  --brown: #4B2E20;

  --sand: #E9D8B4;

  --blue: #135D66;

  --text: #3A2416;

  --white: #ffffff;

  --shadow:
      0 10px 40px rgba(0,0,0,.12);

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  background:var(--background);

  color:var(--text);

  font-family:var(--font-body);

}

h1,h2,h3,h4,h5,h6{

  font-family:var(--font-heading);

}

img{

  user-select:none;

}

::selection{

  background:var(--gold);

  color:white;

}

/* reusable container */

.container{

  max-width:1280px;

  margin:auto;

  padding-inline:1.5rem;

}

/* reusable section spacing */

.section{

  padding:7rem 0;

}